fastapi~=0.115.6
fastapi-offline~=1.7.3
uvicorn~=0.33.0
gunicorn~=23.0.0
aiofiles~=24.1.0
requests~=2.32.3
httpx~=0.28.1
python-multipart~=0.0.20
ujson~=5.10.0
msgpack~=1.1.0
tqdm~=4.67.1
icc-rt~=2020.0.133
numba~=0.58.1
opencv-python~=4.10.0.84
scikit-image~=0.21.0
onnx~=1.16.0
onnx-simplifier~=0.4.36
onnxruntime-gpu~=1.12.1
git+https://github.com/lilohuang/PyTurboJPEG.git
exifread~=3.0.0
tritonclient[http,grpc]
tenacity~=9.0.0
colorlog~=6.9.0
